.side-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    color: #fff;
    background-color: #001529;
  }
}
